include *.txt
include *.md
include *.yaml
include .bumpversion.cfg
include jupyterlab_translate/index.js
recursive-include jupyterlab_translate *.cfg *.json *.py
recursive-include requirements *.txt
recursive-include tests *.py *.json
recursive-exclude jupyterlab_translate/typescript/lib *.json *.js
